canvas{
  width:450px;
  height:250px;
  border:2px solid;
}
.flex{
  display:flex;
  flex-direction:row;
  
}
.clear{
  margin-top:10px;
}
.hidden{
  display:none;
}
.flex div{
    margin:10px;
  }
.row{
  display:flex;
  flex-direction:row;
      align-items: center;
}